body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(orange 0%, green 100%);
    background-repeat: no-repeat;
}
img {
    width: 330px;
    height: 460px;
}
div > div {
    margin: 10px;
}
.ungraded {
    color: blue;
}
.psa10 {
    color: red;
}
.circulo{
    width: 200px;
    height:  200px;
    border-radius: 50%;
    background: red;

}